<html>
<head>
<title>Update Password</title>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-1.10.2.js" type="text/javascript"> </script>
<script src="javascript/updatepassword.js" type="text/javascript" ></script>
</head>
<body>
	<div class="head">
		<div class="home">
			<div class="dropdown">
 			 <button class="dropbtn"><i class="fa fa-bars"></i></button>
  				<div class="dropdown-content">
  					<a href="home"><i class="fa fa-home"></i> HOME</a>
   					<a href="logout"><i class="fa fa-sign-out"></i> LOG OUT</a>
  				</div>
			</div>
		<button class="dropbtnuser"><i class="fa fa-user"></i><span>admin</span></button>
		</div>
	</div>
	<div class="employee">
		<div class="design">
			<a href="creditleave.html">Credit Leave</a><br>
		</div>
	</div>
	<div class="employee">
		<div class="design">
			<a href="managerleave.html">Manager Leave</a><br>
		</div>
	</div>
</body>
</html>